cliente-x/geehdrMZwJGF8cOd.json
{
  "createdAt": "2025-10-17T02:26:19.685Z",
  "updatedAt": "2025-10-17T02:26:19.685Z",
  "id": "geehdrMZwJGF8cOd",
  "name": "My workflow",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1440,
        208
      ],
      "id": "8f0752fb-ff1c-493b-bab5-d480c5278e00",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -992,
        208
      ],
      "id": "f3ade5e2-e9bb-4ce3-b95f-1d8599b80a66",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "url": "https://docs.google.com/spreadsheets/d/e/2PACX-1vTg4UMvdWItiBOQkPGYKIlBSKPHktAZ_bg46qFFZ72O-B0LZPXTIv1nbqx8ej_KqdA068AoJrT8UXqD/pub?output=xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1216,
        208
      ],
      "id": "4a5b295a-a556-4f09-92df-42307d3536dc",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "amount": "={{ (new Date().getHours() < 6) ? 21600 : (Math.floor(Math.random() * 300) + 3300) }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        112,
        320
      ],
      "id": "f215ca21-d660-45f0-9e2f-4b191871eaca",
      "name": "Wait",
      "webhookId": "2e316976-cf2c-45e6-b498-59888199ce8e"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "28cee801-047f-41b2-b506-0738b003cf31",
              "name": "nome",
              "value": "={{ $json.full_name }}",
              "type": "string"
            },
            {
              "id": "11dbe355-afd1-4bfa-8e85-617629eea034",
              "name": "email",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "062e7248-8b84-4e14-8aa8-5c26984be8c1",
              "name": "telefone",
              "value": "={{ $json.phone_number }}",
              "type": "string"
            },
            {
              "id": "2f23b85f-562a-44c7-abee-129e2e1e4da9",
              "name": "cidade",
              "value": "={{ { 1: '1, Uberlândia - MG', 2: '2, Uberaba - MG', 3: '3, Goiânia - GO' }[$json.cidade ] || 'Inválido' }}",
              "type": "string"
            },
            {
              "id": "7c43d0b5-aef1-44fd-a08f-5355ae823268",
              "name": "origem",
              "value": "=ci",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -768,
        208
      ],
      "id": "74ac4cbe-2fea-41af-ae6b-d9223432346c",
      "name": "Normalização"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://webhook.margoauto.com.br/webhook/expo-canada-dados-leads",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -192,
        224
      ],
      "id": "825997c0-ec3b-49a7-ac95-3b842c63e8ac",
      "name": "HTTP Request1",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -496,
        208
      ],
      "id": "43ef9cd2-cb6f-4292-b83a-2102976d580b",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        -192,
        48
      ],
      "id": "b34ab076-05d0-4d11-96e6-8cf0026cca54"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -208,
        512
      ],
      "id": "eee2495a-7249-40af-ad6d-732d5991da0e",
      "name": "Merge"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Normalização",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Normalização": {
      "main": [
        []
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "json": {}
      }
    ]
  },
  "versionId": "d7e9f4cb-c2e5-445f-955f-f8beb4498a0f",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-10-17T02:26:19.685Z",
      "updatedAt": "2025-10-17T02:26:19.685Z",
      "role": "workflow:owner",
      "workflowId": "geehdrMZwJGF8cOd",
      "projectId": "eFLtZ3IVlO5kB2x1"
    }
  ],
  "tags": []
}