cliente-x/UJqrJeYkCEiGhjLG.json
{
  "createdAt": "2025-08-22T14:15:18.288Z",
  "updatedAt": "2025-08-22T15:01:57.456Z",
  "id": "UJqrJeYkCEiGhjLG",
  "name": "Listar vendedores",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "listar-vendedores",
        "authentication": "basicAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        80,
        32
      ],
      "id": "0965c883-58f3-4d26-92df-54666dcc9cb3",
      "name": "Webhook1",
      "webhookId": "7a4bde59-4185-4acb-a487-e53d9976509a",
      "credentials": {
        "httpBasicAuth": {
          "id": "E9KlM5h7YsOIVY5o",
          "name": "Site de inspeção"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "Token",
        "filters": {
          "conditions": [
            {
              "keyName": "userId",
              "keyValue": "={{ $json.body.user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        304,
        32
      ],
      "id": "77c4b248-2911-477e-80f9-e1dbede3fae6",
      "name": "Get a row",
      "credentials": {
        "supabaseApi": {
          "id": "umqjV8GZXBZRZZCk",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.vhsys.com/v2/vendedores",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "=access-token",
              "value": "={{ $('Get a row').item.json.access }}"
            },
            {
              "name": "secret-access-token",
              "value": "={{ $('Get a row').item.json.secret }}"
            },
            {
              "name": "Cache-Control",
              "value": "no-cache"
            },
            {
              "name": "User-Agent",
              "value": "MinhaAplicacao/1.0"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "obs_pedido",
              "value": "={{ $json.obs }}"
            }
          ]
        },
        "options": {}
      },
      "id": "33f49171-ed72-4a11-b245-e701ce0b9a4d",
      "name": "Ordem serviço",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        528,
        32
      ]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        528,
        272
      ],
      "id": "198018d7-000d-46fc-bcc8-c62b1f301417",
      "name": "Respond to Webhook",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"error\",\n  \"message\": \"Falha ao cadastrar nova ordem de serviço\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1520,
        512
      ],
      "id": "12767c9f-4ef7-4750-8448-a693a6bd9947",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "23cd099d-4fc0-49a5-99d1-3570c3612c2a",
              "leftValue": "=",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1520,
        288
      ],
      "id": "40fc17a2-0cce-4fdc-a330-f271b171fe53",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "71bae9db-d034-4847-9b94-28f25b5cd648",
              "name": "id_vendedor",
              "value": "={{ $json.id_vendedor }}",
              "type": "string"
            },
            {
              "id": "19ccd70d-68b9-4846-a835-291aa70070f4",
              "name": "nome_vendedor",
              "value": "={{ $json.razao_vendedor }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        304,
        272
      ],
      "id": "631a86d2-031e-46be-b528-f96289acd82f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        96,
        272
      ],
      "id": "5e607d37-4ef5-48be-a9d8-7ee6dbe10efa",
      "name": "Split Out"
    }
  ],
  "connections": {
    "Webhook1": {
      "main": [
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row": {
      "main": [
        [
          {
            "node": "Ordem serviço",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ordem serviço": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        []
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Webhook1": [
      {
        "json": {
          "headers": {
            "host": "webhook.margoauto.com.br",
            "user-agent": "node",
            "content-length": "14",
            "accept": "*/*",
            "accept-encoding": "br, gzip, deflate",
            "accept-language": "*",
            "authorization": "Basic bXc6OWw7NksxWjNRPDx2",
            "content-type": "application/json",
            "sec-fetch-mode": "cors",
            "x-forwarded-for": "189.37.79.1",
            "x-forwarded-host": "webhook.margoauto.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "7e487a41def6",
            "x-real-ip": "189.37.79.1"
          },
          "params": {},
          "query": {},
          "body": {
            "user_id": "1"
          },
          "webhookUrl": "https://webhook.margoauto.com.br/webhook/listar-vendedores",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "9ce2651f-c672-4ea5-b091-3fa18cbf45b2",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-08-22T14:15:18.288Z",
      "updatedAt": "2025-08-22T14:15:18.288Z",
      "role": "workflow:owner",
      "workflowId": "UJqrJeYkCEiGhjLG",
      "projectId": "eFLtZ3IVlO5kB2x1"
    }
  ],
  "tags": []
}