cliente-x/ZW97wjDVMAsqK5oH.json
{
  "createdAt": "2025-10-17T20:09:58.604Z",
  "updatedAt": "2025-10-17T20:57:28.386Z",
  "id": "ZW97wjDVMAsqK5oH",
  "name": "[➰] Loop do Disparo de leads incompletos",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolution.margoauto.com.br/message/sendMedia/ExpoCanada",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "=55{{ $('Loop Over Items').item.json.telefone }}"
            },
            {
              "name": "mediatype",
              "value": "=image"
            },
            {
              "name": "media",
              "value": "={{ $('Get a row2').item.json.img_disparo }}"
            }
          ]
        },
        "options": {}
      },
      "id": "06fe6343-43ab-435e-9eba-ac87bb144636",
      "name": "Enviar Imagem [Evolution]",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2384,
        688
      ],
      "executeOnce": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "GjdvxtGf9Oss20Bh",
          "name": "Evolution header auth"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolution.margoauto.com.br/message/sendText/ExpoCanada",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "=55{{ $('Loop Over Items').item.json.telefone }}"
            },
            {
              "name": "text",
              "value": "=*EXPOCanada 2025*\nSua jornada começa agora!\n\nOlá {{ $('Loop Over Items').item.json.nome.split(' ')[0]}}, tudo bem?\n*SUA INSCRIÇÃO FOI CONFIRMADA!*\n\nEstamos muito felizes por estar conosco nessa jornada rumo a novas oportunidades!\n\nVocê receberá seu ingresso e todas as informações sobre o evento através do e-mail.\n\nPara receber aqui neste WhatsApp, responda esta mensagem.\n\nAtenciosamente,\nEquipe EXPOCanada"
            }
          ]
        },
        "options": {}
      },
      "id": "47dab656-cf1e-4299-9069-7190d7239121",
      "name": "Msg de inscrição confirmada1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2560,
        688
      ],
      "alwaysOutputData": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "GjdvxtGf9Oss20Bh",
          "name": "Evolution header auth"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        784,
        320
      ],
      "id": "5b9a0485-5cb5-474a-a23a-2a190743bda8",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        1024,
        144
      ],
      "id": "98a31843-f332-4aa5-9695-50deb432ab97"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "28cee801-047f-41b2-b506-0738b003cf31",
              "name": "nome",
              "value": "={{ $json.nome }}",
              "type": "string"
            },
            {
              "id": "062e7248-8b84-4e14-8aa8-5c26984be8c1",
              "name": "telefone",
              "value": "={{ $json.telefone }}",
              "type": "string"
            },
            {
              "id": "824d9c4b-c38a-4ef3-8692-1e740000ffda",
              "name": "id_evento",
              "value": "={{ $json.id_evento }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        528,
        320
      ],
      "id": "4337b7cc-6ef5-4607-a2fd-e5f6714e68a6",
      "name": "Normalização"
    },
    {
      "parameters": {
        "content": "# DISPARO LEADS INCOMPLETOS",
        "height": 80,
        "width": 576,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "cfc89165-6f3e-4cb6-a571-5cbc5edd22e1",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "",
        "height": 864,
        "width": 2736,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        96
      ],
      "typeVersion": 1,
      "id": "ce47ad95-fade-41fc-8ed4-64061692c6ac",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "amount": "={{ (new Date().getHours() < 6) ? 21600 : (Math.floor(Math.random() * 300) + 3300) }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2080,
        656
      ],
      "id": "eec9cc65-3728-423c-8c25-cce2799721bc",
      "name": "55min-60min",
      "webhookId": "2e316976-cf2c-45e6-b498-59888199ce8e"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "41cd8d1d-5fc6-4cb1-82c0-d73dba0f7e42",
              "leftValue": "={{ ['9484221996', '3484159133', '3496410067', '1981161188', '3491990090', '3399685666', '6293677812', '6492290733', '3498970004', '3492662770', '6284357800', '6284871056', '3496389988', '3484435221', '6292985671', '3499208887', '5182067866', '3499430312', '6191867291', '3496309170', '3491262887', '3498603432', '3499543550', '3488698446', '6295443434', '3499505004', '3484402841', '3499681378', '6183387436', '6186182924', '3499777770', '3498979507', '1164478092', '3492293743', '3497660817', '3496532276', '6291242332', '6283210515', '3496873227', '3497743400', '1396091395', '6492462050', '6481133649', '8185076479', '3496376693', '3488856226', '6391103696', '3484364215', '6299423489', '3496343974', '3492036572', '3499476454', '3499231903', '3496949689', '6493182793', '6282950768', '6286441621', '3496844271', '6293537779', '6292851799', '1693117260', '3491476766', '3491643922', '3491943584', '3498849372', '3499638998', '3493158624', '6291608618', '6492254743', '3491685487', '3493351025', '3497670927', '6285040514', '3484419616', '3488531428', '6285554034', '3291380084', '6282401700', '6298544101', '6283379088', '6296355107', '6299473734', '2164799825', '6291913983', '6284972824', '6292715008', '6299074719', '6484079969', '6481469829', '6281113320', '9182683801', '6296223434', '6596028444', '6293705307', '6182256881', '6292016763', '6299255556', '6294646252', '6492639104', '6298834797', '6281348006', '6283128033', '6292237187', '6296731061', '9491329700', '6484086155', '6692618005', '6291580642', '6294598345', '6281631171', '6299427499', '6292710050', '6294910367', '6282113373', '6293409317', '6281779329', '6291002762', '6391299255', '3498929570', '6299441420', '3496796899', '6293181068', '3488620244', '6492450747', '6293950717', '6193218749', '6295597916', '6282678318', '6291842721', '6291610203', '6292913997', '1155809522', '3492256364', '6294068789', '9294459117', '3492539884', '3484106201', '3488158368', '6392023701', '6294398750', '3492934552', '6493007333', '3493383377', '6293025904', '6291321414', '6596876231', '3499753498', '6293998630', '6282388657', '5492180118', '6285117326', '6296950545', '3488583732', '3492153025', '6281588405', '6291708145', '6181735119', '6293094108', '6282184700', '6294876353', '6299317775', '3484171817', '6292676026', '6282545999', '6192198719', '3188889912', '3492460590', '3492739811', '6285603699', '6799564240', '6282919625', '6296795089', '6299463768', '6499018808', '3492738800', '3497904110', '2191657786', '3491647908', '6294911751', '3498969504', '6281520451', '6291289925', '6292948480', '6291698637', '3491354766', '6282547113', '6186661668', '6281664741', '6292559925', '6499813195', '6296562402', '6296007009', '3498010392', '3492229785', '6291371636', '3196567639', '3488251517', '6285409008', '2186137232', '6993146956', '6284708695', '6294486247', '6281167309', '6292927893', '6284430883', '3496503468', '3497217267', '6285124114', '3492148008', '6291827399', '6282648820', '3496450622', '3484256560', '1681023785', '3499524675', '6493215034', '6492790683', '6493445804', '3496670312', '3499105775', '6282438590', '1396415294', '6291585245', '6283284614', '6281335862', '6496024592', '6190007611', '6399854420', '6285410191', '6298245564', '6299823600', '3498638880', '3488255700', '6281787151', '3484257040', '6292656768', '6799453269', '6499504728', '6799453269', '7184218007', '6296951063', '3488686588', '6285800866', '94984221996', '34984159133', '34996410067', '19981161188', '34991990090', '33999685666', '62993677812', '64992290733', '34998970004', '34992662770', '62984357800', '62984871056', '34996389988', '34984435221', '62992985671', '34999208887', '51982067866', '34999430312', '61991867291', '34996309170', '34991262887', '34998603432', '34999543550', '34988698446', '62995443434', '34999505004', '34984402841', '34999681378', '61983387436', '61986182924', '34999777770', '34998979507', '11964478092', '34992293743', '34997660817', '34996532276', '62991242332', '62983210515', '34996873227', '34997743400', '13996091395', '64992462050', '64981133649', '81985076479', '34996376693', '34988856226', '63991103696', '34984364215', '62999423489', '34996343974', '34992036572', '34999476454', '34999231903', '34996949689', '64993182793', '62982950768', '62986441621', '34996844271', '62993537779', '62992851799', '16993117260', '34991476766', '34991643922', '34991943584', '34998849372', '34999638998', '34993158624', '62991608618', '64992254743', '34991685487', '34993351025', '34997670927', '62985040514', '34984419616', '34988531428', '62985554034', '32991380084', '62982401700', '62998544101', '62983379088', '62996355107', '62999473734', '21964799825', '62991913983', '62984972824', '62992715008', '62999074719', '64984079969', '64981469829', '62981113320', '91982683801', '62996223434', '65996028444', '62993705307', '61982256881', '62992016763', '62999255556', '62994646252', '64992639104', '62998834797', '62981348006', '62983128033', '62992237187', '62996731061', '94991329700', '64984086155', '66992618005', '62991580642', '62994598345', '62981631171', '62999427499', '62992710050', '62994910367', '62982113373', '62993409317', '62981779329', '62991002762', '63991299255', '34998929570', '62999441420', '34996796899', '62993181068', '34988620244', '64992450747', '62993950717', '61993218749', '62995597916', '62982678318', '62991842721', '62991610203', '62992913997', '11955809522', '34992256364', '62994068789', '92994459117', '34992539884', '34984106201', '34988158368', '63992023701', '62994398750', '34992934552', '64993007333', '34993383377', '62993025904', '62991321414', '65996876231', '34999753498', '62993998630', '62982388657', '54992180118', '62985117326', '62996950545', '34988583732', '34992153025', '62981588405', '62991708145', '61981735119', '62993094108', '62982184700', '62994876353', '62999317775', '34984171817', '62992676026', '62982545999', '61992198719', '31988889912', '34992460590', '34992739811', '62985603699', '67999564240', '62982919625', '62996795089', '62999463768', '64999018808', '34992738800', '34997904110', '21991657786', '34991647908', '62994911751', '34998969504', '62981520451', '62991289925', '62992948480', '62991698637', '34991354766', '62982547113', '61986661668', '62981664741', '62992559925', '64999813195', '62996562402', '62996007009', '34998010392', '34992229785', '62991371636', '31996567639', '34988251517', '62985409008', '21986137232', '69993146956', '62984708695', '62994486247', '62981167309', '62992927893', '62984430883', '34996503468', '34997217267', '62985124114', '34992148008', '62991827399', '62982648820', '34996450622', '34984256560', '16981023785', '34999524675', '64993215034', '64992790683', '64993445804', '34996670312', '34999105775', '62982438590', '13996415294', '62991585245', '62983284614', '62981335862', '64996024592', '61990007611', '63999854420', '62985410191', '62998245564', '62999823600', '34998638880', '34988255700', '62981787151', '34984257040', '62992656768', '67999453269', '64999504728', '67999453269', '71984218007', '62996951063', '34988686588', '62985800866'].includes($('Loop Over Items').item.json.telefone) }}",
              "rightValue": "=",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1120,
        304
      ],
      "id": "6e374218-da5a-4fd3-9de8-231dd2b68e09",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "leads_expo_canada",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "created_at",
              "condition": "lt",
              "keyValue": "2025-10-17 00:43:48.062646+00"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        304,
        320
      ],
      "id": "f335c280-af02-4eb8-9409-d2a75d4e809a",
      "name": "Get many rows1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "oB0ah3zt3sjdBABC",
          "name": "Supabase account nova"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "062dcc56-1e14-4a02-80ae-fb27b46b7783",
              "name": "disparado",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1360,
        400
      ],
      "id": "f28af3ec-09b9-4561-beec-43dac17aef86",
      "name": "Não disparou"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://webhook.margoauto.com.br/webhook/disparo-incompletos",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nome",
              "value": "={{ $('Loop Over Items').item.json.nome }}"
            },
            {
              "name": "telefone",
              "value": "={{ $('Loop Over Items').item.json.telefone }}"
            },
            {
              "name": "id_evento",
              "value": "={{ $('Loop Over Items').item.json.id_evento }}"
            },
            {
              "name": "disparado",
              "value": "={{ $json.disparado }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2016,
        304
      ],
      "id": "73af49ac-90c7-4a63-a729-5a054df4cab5",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "062dcc56-1e14-4a02-80ae-fb27b46b7783",
              "name": "disparado",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1360,
        192
      ],
      "id": "20f1884a-b50c-4361-a610-a74a29d7ed44",
      "name": "Disparou"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "af66bbf2-7d9a-430c-b09e-b95e6906abcf",
              "name": "disparado",
              "value": "={{ $json.disparado }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1616,
        304
      ],
      "id": "3a1c2ef0-fef6-4e92-a25d-66e0b966c203",
      "name": "Final"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1024,
        656
      ],
      "id": "c2df7f05-6a0d-40fc-96ec-2b78a6a78273",
      "name": "Merge"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "322778dc-d73b-4772-8175-866efcda012c",
              "leftValue": "={{ $('Final').item.json.disparado }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2224,
        400
      ],
      "id": "6fba2663-711a-42ad-a011-013cf5186e94",
      "name": "If1"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1824,
        304
      ],
      "id": "56897d38-1563-4cf0-80b1-de2ff041206d",
      "name": "Wait",
      "webhookId": "2521462a-27ef-445c-9b89-2f28195cad80"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        64,
        320
      ],
      "id": "5d50a27e-8750-4342-bf1e-ed44a7d5be22",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "connections": {
    "Enviar Imagem [Evolution]": {
      "main": [
        [
          {
            "node": "Msg de inscrição confirmada1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalização": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "55min-60min": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Disparou",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Não disparou",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows1": {
      "main": [
        [
          {
            "node": "Normalização",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Não disparou": {
      "main": [
        [
          {
            "node": "Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Disparou": {
      "main": [
        [
          {
            "node": "Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "55min-60min",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get many rows1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "421369dd-b7df-4c29-812f-c9dda2f5927c",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-10-17T20:09:58.604Z",
      "updatedAt": "2025-10-17T20:09:58.604Z",
      "role": "workflow:owner",
      "workflowId": "ZW97wjDVMAsqK5oH",
      "projectId": "eFLtZ3IVlO5kB2x1"
    }
  ],
  "tags": []
}